Muhammmad Ilham - 17200024 -  TI4A

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import pandas as pd


df = pd.read_csv('winequality-red.csv')
df

In [88]:
X = df.iloc[:, 0:11]
y = df.iloc[:, 11]

In [89]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [90]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4)

In [91]:
X_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
145,8.1,0.670,0.55,1.8,0.117,32.0,141.0,0.99680,3.17,0.62,9.4
80,6.2,0.450,0.20,1.6,0.069,3.0,15.0,0.99580,3.41,0.56,9.2
1464,6.8,0.590,0.10,1.7,0.063,34.0,53.0,0.99580,3.41,0.67,9.7
1387,7.4,0.640,0.07,1.8,0.100,8.0,23.0,0.99610,3.30,0.58,9.6
1286,7.1,0.160,0.44,2.5,0.068,17.0,31.0,0.99328,3.35,0.54,12.4
...,...,...,...,...,...,...,...,...,...,...,...
1062,8.0,0.380,0.44,1.9,0.098,6.0,15.0,0.99560,3.30,0.64,11.4
1255,6.1,0.640,0.02,2.4,0.069,26.0,46.0,0.99358,3.47,0.45,11.0
70,7.7,0.630,0.08,1.9,0.076,15.0,27.0,0.99670,3.32,0.54,9.5
830,7.5,0.685,0.07,2.5,0.058,5.0,9.0,0.99632,3.38,0.55,10.9
1248,6.9,0.410,0.33,2.2,0.081,22.0,36.0,0.99490,3.41,0.75,11.1

LOGISTIC REGRESSION

In [92]:
lr = LogisticRegression(solver='liblinear',multi_class='ovr')
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.58125

SVM

In [93]:
svm = SVC(gamma='auto')
svm.fit(X_train, y_train)
svm.score(X_test, y_test)

0.55

Random Forest

In [94]:
rf = RandomForestClassifier(n_estimators=40)
rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6671875

KFold cross validation

In [95]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=3)
kf

KFold(n_splits=3, random_state=None, shuffle=False)

In [96]:
for train_index, test_index in kf.split([1,2,3,4,5,6,7,8,9]):
    print(train_index, test_index)

[3 4 5 6 7 8] [0 1 2]
[0 1 2 6 7 8] [3 4 5]
[0 1 2 3 4 5] [6 7 8]

In [97]:
def get_score(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    return model.score(X_test, y_test)

In [98]:
get_score(SVC(),X_train, X_test, y_train, y_test)

0.471875

cross_val_score fungsi cross validasi

In [99]:
from sklearn.model_selection import cross_val_score

#cvs LR
cross_val_score(LogisticRegression(solver='liblinear',multi_class='ovr'), X,y,cv=3)

array([0.52532833, 0.58161351, 0.55534709])

In [100]:
cross_val_score(SVC(gamma='auto'), X,y,cv=3)

array([0.51031895, 0.48592871, 0.48030019])

In [101]:
cross_val_score(RandomForestClassifier(n_estimators=40),X,y,cv=3)

array([0.52908068, 0.57973734, 0.5891182 ])